@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>We rolled the dice: @ViewData["Random"]</h1>
<small class="text-muted">From: @model.RandomApiHost</small>

<small class="text-muted">@model.Error</small>
