@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>We rolled the dice: @Model.Random</h1>
<small class="text-muted">From: @Model.RandomApiHost</small>

<p style="margin-top: 3em;">
    <small class="text-muted">@Model.Error</small>
</p>
